.App {
  font-size: calc(10px + 2vmin);
  color: white;
}
.catalog,
.landing {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.navbar {
  background-color: black;
  width: 100%;
  position: fixed;
  top: 0px;
}
.App-link {
  color: #61dafb;
}
.nav-link {
  color: white;
  text-decoration: none;
}

/* Styling for hover state */
.nav-link:hover {
  color: #007bff; /* Change this to your desired hover color */
  text-decoration: underline;
}
.logo {
  position: fixed;
  right: 20px;
}
.link {
  margin-left: 20px;
}
.plus-minus {
  position: absolute;
  right: 0px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  margin: 2px;
  font-weight: bold;
}

.home {
  display: inline-block;
  background-color: darkolivegreen;
  width: 500px;
  height: 500px;
}
.persone {
  display: inline-block;
  width: 200px;
  height: 150px;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  vertical-align: center;
}
.shareBtn {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  vertical-align: center;
}

.movie {
  display: inline-block;
  position: relative;
  margin: 5px;
}

.search-budget-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  background-color: #282c34;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.gyphy {
  display: block;
}
.x-button {
  width: 50px;
  align-self: center;
  margin-top: 10px;
}
.rented-title {
  text-align: center;
}
